QZONE_IMAGE=qzone-archive-web
QZONE_IMAGE_TAG=v0.3.0
QZONE_BIND=0.0.0.0:8091
QZONE_DATA_DIR=/data/jobs
QZONE_PUBLIC_ORIGIN=https://qzone.iyouren.top
QZONE_SECURE_COOKIES=true
QZONE_JOB_TTL_SECONDS=21600
QZONE_POST_DOWNLOAD_TTL_SECONDS=600
QZONE_MAX_JOBS=8
QZONE_MAX_ACTIVE_ARCHIVES=1
QZONE_MAX_JOB_BYTES=5368709120
QZONE_MIN_FREE_BYTES=5368709120
RUST_LOG=qzone_archive_web=info,tower_http=info
