QZONE_IMAGE=qzone-archive-web
QZONE_IMAGE_TAG=v0.6.0
QZONE_BIND=0.0.0.0:8091
QZONE_DATA_DIR=/data/jobs
QZONE_PUBLIC_ORIGIN=https://qzone.iyouren.top
QZONE_SECURE_COOKIES=true
QZONE_IDLE_JOB_TTL_SECONDS=1200
QZONE_JOB_TTL_SECONDS=21600
QZONE_READY_JOB_TTL_SECONDS=7200
QZONE_POST_DOWNLOAD_TTL_SECONDS=600
QZONE_NO_PROGRESS_TIMEOUT_SECONDS=300
QZONE_MAX_RUN_SECONDS=3600
QZONE_MAX_JOBS=8
QZONE_MAX_ACTIVE_ARCHIVES=1
QZONE_MAX_JOB_BYTES=5368709120
QZONE_MIN_FREE_BYTES=5368709120
RUST_LOG=qzone_archive_web=info,tower_http=info
